@model Tuple<IEnumerable<WebLibrary.Models.Chapter>, IEnumerable<WebLibrary.Models.Lesson>>;
@{
    ViewData["Title"] = "Index";
       Layout = "~/Views/Shared/_LayoutCourse.cshtml";
}

@{
    var idInstructor = int.Parse(Context.Request.Cookies["ID"]);
}

<div class="card bg-theme p-0 mt-2 mb-5">
    <div class="container no-footer mt-5 mb-3 p-0">
        <h6 class="text-theme">List Chaper</h6>
        <a class="btn btn-success mb-2" href="@Url.Action("Create", "Chapter", new { courseId = ViewBag.CourseId })">Add new Chapter</a>
        <a class="btn btn-secondary mb-2" href="@Url.Action("Index", "Course", new {id = @idInstructor})">Back to Course</a>
        <a class="btn btn-warning mb-2" href="@Url.Action("Index", "Answer")">Answer</a>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>CourseName</th> 
                    <th>ChapterName</th>
                    <th>Index</th>
                    <th>Description</th>
                    <th>TotalTime</th>
                    <th>Total Lesson</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @{
                if (Model != null)
                    {
                        foreach (var chapter in Model.Item1)
                        {
                            <tr>
                                <td>@ViewBag.CourseName </td>
                                <td>@chapter.ChapterName</td>
                                <td>@chapter.Index</td>
                                <td>@chapter.Description</td>
                                <td>@chapter.TotalTime</td>    
                                
                            @{
                                            int countlesson = 0;
                                            foreach(var lesson in Model.Item2){
                                                if(lesson.ChapterId == chapter.ChapterId){
                                                    countlesson++;
                                                }
                                            }
                                        }
                            <td>@countlesson</td>
                                
                                <td>
                                <a class="btn btn-primary" href="@Url.Action("Index", "Lesson", new { chapterId = chapter.ChapterId, courseId = ViewBag.CourseId })">View Lesson</a>
                                </td>
                                    <td>
                                <a class="btn btn-success mb-2" href="@Url.Action("Index", "Quiz", new { chapterId = chapter.ChapterId, courseId = ViewBag.CourseId })">Quiz</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">No chapters found.</td>
                        </tr>
                    }
            }
            </tbody>
        </table>
    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }