@model IEnumerable<WebLibrary.Models.Course>;

@{
    ViewData["Title"] = "CourseList";
}


<h1>List Product</h1>
<a class="btn btn-success mb-2" asp-action="Create">Add new</a>
<table class="table">
    <thead>
        <tr>
            <th>CourseId</th>
            <th>CategoryId</th>
            <th>CourseName</th>
            <th>Description</th>
            <th>Picture</th>
            <th>TotalTime</th>
            <th>Price</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
                <tr>
                    <td>@course.CourseId</td>
                    <td>@course.CategoryId</td>
                    <td>@course.CourseName</td>
                    <td>@course.Description</td>
                    <td> <img src="@Url.Content(course.Picture)" style="width: 100%;"></td>
                    <td>@course.TotalTime</td>
                    <td>@course.Price</td>
                    <td>@course.StartDate</td>
                    <td>@course.EndDate</td>
                    <td>@course.Status</td>
                    <td>
 <a class="btn btn-primary" href="@Url.Action("Index", "Chapter", new { courseId = course.CourseId })">View Chapters</a>
 
               </td>
            </tr>
    
        }

    </tbody>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }